@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el cuerpo de la pagina */

body {
  background: url(./Images/noche-estrellas.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh; 
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

/* Estilos para el header de mi pagina */

.headerHome{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  background-color: transparent;
}


.mainContent{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 85vh;
}

.containerTweet{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  background-color: #1e1d3d;
  height: 43rem;
  width: 30rem;
  border-radius: 18px;
  border: 3px solid rgb(161, 117, 22);
}

hr {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.containText{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #0b0a2a;
  border: 1px solid white;
  margin: 0.5rem;
  resize: none;
  color: white;
}


.info{
  margin-bottom: 1rem;
  margin-top: 3rem;
}

h1 {
  font-size: 3.4em;
  line-height: 1.1;
  color: #0c669f;
  font-weight: bold;
  text-shadow: 0 0 15px #ffffff;
}

.containerBtns{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.2rem;
}

.btns-action{
  margin: 1.5rem;
  width: 6rem;
  height: 3.7rem;
  border-radius: 15px;
  font-weight: bold;
  background-color: rgb(0, 187, 255);
  cursor: pointer;
}

.tweets{
  margin: 1rem;
  font-size: 1.1rem;
  word-break: break-all;
}


.padre{
  background-color: #1c2938;
  border-radius: 18px;
  border: 2px solid rgb(202, 151, 13);
  height: 220px;
  margin: 0;
  padding: 0 1rem;
  width: 400px;
  margin: 2rem auto;
  overflow-y: auto;
  text-align: center;
}


h2{
  color: #ffff00;
  margin-top: 1.5rem;
}

ul{
  margin-top: 1rem;
  overflow-y: scroll;
}

li{
  font-size: 1.5rem;
  color: white;
  z-index: 5;
}

.quantity{
  text-align: right;
  margin-right: 3.5rem;
  color: #ffff00;
}


.tweets::-webkit-scrollbar {
  width: 7px;
}

.tweets::-webkit-scrollbar-thumb{
  background-color: #ffff00;
  border-radius: 5px;
}








